body {
    background-image: url(../img/background.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-size: cover;
}
.wrapper {
    padding: 0 32px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.4) 0%, rgba(59, 59, 59, 0.8) 74%);
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.nav-content {
    display: inline-block;
}

.img-wrapper {
    margin: 0 auto 32px;
}

.img-wrapper img {
    height: 50vh;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.content h1 {
    margin-bottom: 8px;
    margin-right: 24px;
    font-size: 1.8em;
}

.content {
    position: relative;
}
.content h4 {
    opacity: 0.6;
}

.content i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.control-time {
    margin: 32px 0 0;
}

.progress {
    margin-bottom: 8px;
    appearance:none;
    height: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.progress ::-webkit-slider-runnable-track,
.progress::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #1fa1c2; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }

.slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #1fa1c2; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}



footer {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
}

footer i {
    margin: auto 0;
    vertical-align: middle;
    text-align: center;
}

.small-icon {
    opacity: 0.6;
    font-size: 18px;
}

.enable {
    opacity: 1;
    color: aqua;
}

.fas {
    cursor: pointer;
}

.loved {
    color: red;
}